# Calculating the hydrological year means for all variables in the study

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'

## Water Levels

In [ ]:
df = pd.read_csv('Data/raw_data/Water_Level_ANA.csv', usecols = ['NivelConsistencia', 'Data', 'Media'])

In [ ]:
# Filter the DataFrame to include only rows where NivelConsistencia is 1
df = df[df['NivelConsistencia'] == 1]
df['Data'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')
#Extract the year and month from the index
df['Year'] = df['Data'].dt.year
df['Month'] = df['Data'].dt.month
#Group by Month and calculate the sum of precipitation for each station within each month
df = df.groupby(['Year', 'Month']).mean()

In [ ]:
hidro_months = ['5', '6', '7', '8', '9', '10', '11', '12', '1', '2','3', '4']

In [ ]:
from itertools import cycle, islice
df["hydro_month"] = list(islice(cycle(hidro_months), len(df)))
df = df.drop(df.index[:8])
df

In [ ]:
years = [str(num) for num in range(1901, 2023) for _ in range(12)]

In [ ]:
df["hydro_year"] = list(islice(cycle(years), len(df)))

In [ ]:
df["hydro_year"] = list(islice(cycle(years), len(df)))
df.tail()

df['Media'] = df['Media'].astype(float)
df['hydro_year'] = df['hydro_year'].astype(int)

In [ ]:
df_year = df.groupby('hydro_year').mean()

In [ ]:
df_year = df_year.reset_index()

In [ ]:
df_year.head()

In [ ]:
df_year.to_csv('Data/ANA_WL.csv')

## Runoff

In [4]:
Q = pd.read_csv('Data/raw_data/Runoff_ANA.csv')
Q['Data'] = pd.to_datetime(Q['Data'], format='%d/%m/%Y')
Q.head()
df = Q

In [5]:
hidro_months = ['3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2']

In [6]:
from itertools import cycle, islice

In [7]:
df["hydro_month"] = list(islice(cycle(hidro_months), len(df)))
df = df.drop(df.index[:10])
df.head()

,EstacaoCodigo,NivelConsistencia,Data,Hora,MediaDiaria,MetodoObtencaoVazoes,Maxima,Minima,Media,DiaMaxima,...,Vazao23Status,Vazao24Status,Vazao25Status,Vazao26Status,Vazao27Status,Vazao28Status,Vazao29Status,Vazao30Status,Vazao31Status,hydro_month
10,67100000,2,1964-09-01,NaN,1,1,690.645,641.876,659.628,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1
11,67100000,2,1964-10-01,NaN,1,1,787.328,659.937,705.294,30,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2
12,67100000,2,1964-11-01,NaN,1,1,1020.572,817.675,933.462,24,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,3
13,67100000,2,1964-12-01,NaN,1,1,1329.296,1049.302,1229.939,29,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4
14,67100000,2,1965-01-01,NaN,1,1,1545.048,1324.490,1454.582,21,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5

In [8]:
years = [str(num) for num in range(1965, 2023) for _ in range(12)]
df["hydro_year"] = list(islice(cycle(years), len(df)))
df = df.drop(df.tail(2).index)
df.tail()

,EstacaoCodigo,NivelConsistencia,Data,Hora,MediaDiaria,MetodoObtencaoVazoes,Maxima,Minima,Media,DiaMaxima,...,Vazao24Status,Vazao25Status,Vazao26Status,Vazao27Status,Vazao28Status,Vazao29Status,Vazao30Status,Vazao31Status,hydro_month,hydro_year
699,67100000,1,2022-02-01,NaN,1,1,1102.199,1010.538,1064.722,26,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,6,2022
700,67100000,1,2022-03-01,NaN,1,1,1297.883,1102.199,1176.588,31,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,7,2022
701,67100000,1,2022-04-01,NaN,1,1,1422.217,1283.357,1360.572,21,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,8,2022
702,67100000,1,2022-05-01,NaN,1,1,1491.803,1394.359,1446.903,29,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,9,2022
703,67100000,1,2022-06-01,NaN,1,1,1541.801,1483.986,1515.262,27,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,10,2022

In [10]:
df['runoff'] = df['runoff'].astype(float)
df['hydro_year'] = df['hydro_year'].astype(int)
df_year = df.groupby('hydro_year').mean()
df_year = df_year.reset_index()
df_year.head()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
BH = gpd.read_file('Data/BAP_PortoMurtinho.shp')
# Define the area of the basin in square meters
area = 583798255228

In [ ]:
# Convert runoff from m³/s to mm
df_year['runoff_mm'] = (df_year['runoff'] * 31536000 * 1000) / (area)
df_year.head()

In [ ]:
df_year.to_csv('Data/ANA_Runoff.csv')

# Potential Evapotranspiration

In [ ]:
df = pd.read_csv('Data/raw_data/PET_ERA5.csv')
df = df.rename(columns={'system:index': 'year'}) 
df = df.rename(columns={'system:index.1': 'month'}) 
df.head()

In [ ]:
## Calculating the PET for the hydrologycal year 
#Hydrologycal years starts in September
hidro_months = ['5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4']

In [ ]:
from itertools import cycle, islice
df["hydro_month"] = list(islice(cycle(hidro_months), len(df)))
df.head(10)

In [ ]:
df = df.drop(df.index[:8])
df.head()

In [ ]:
years = [str(num) for num in range(1951, 2023) for _ in range(12)]
df["hydro_year"] = list(islice(cycle(years), len(df)))
df.head()

In [ ]:
df = df.drop(df.tail(4).index)
df.tail(20)

In [ ]:
df['PET'] = df['ETr'].astype(float)
df['hydro_year'] = df['hydro_year'].astype(int)
df.groupby('hydro_year')['ETr'].sum().to_csv('Data/ERA-5_annualPET_BHPM.csv')

# Temperature

In [ ]:
df = pd.read_csv('Data/raw_data/TEMP_ERA5.csv')
df = df.rename(columns={'TEMP': 'TEMP_raw'})

In [ ]:
#Add a new column transforming from Kevin to Celsius
df['TEMP'] = df.apply(lambda row: (row.TEMP_raw - 273.15), axis = 1)
df.head()

In [ ]:
## Calculating the Temperature for the hydrologycal year 
# Hydrologycal years starts in September 
hidro_months = ['6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5']

In [ ]:
from itertools import cycle, islice
df["hydro_month"] = list(islice(cycle(hidro_months), len(df)))
df.head(10)

In [ ]:
df = df.drop(df.index[:7])
df.head(10)

In [ ]:
years = [str(num) for num in range(1951, 2023) for _ in range(12)]
df["hydro_year"] = list(islice(cycle(years), len(df)))
df = df.drop(df.tail(4).index)
df.tail()

In [ ]:
df['TEMP'] = df['TEMP'].astype(float)
df['hydro_year'] = df['hydro_year'].astype(int)

In [ ]:
df.groupby('hydro_year')['TEMP'].mean().to_csv('Data/ERA-5_annualTEMP_BHPM.csv')

# VPD

Calculating VPD:
Vapor Pressure Deficit = es - ea

es = 0.6108
exp((17.27 * T) / (237.3 + T))

Relative humidity can be approximated from air and dew point by
rh = 100((112 ‐ 0.1T + D) / 112 + 0.9 T)
T = temperature
D = dew point

ea = es * rh / 100

In [ ]:
df = pd.read_csv('C:/Users/cassi/trabalhos/pantanal-lc/ERA-5/BHPM/raw data/ERA5_clima_BHPM.csv')
df.head()

In [ ]:
df['VPD'] = df.apply(lambda row: row['e_s'] - row['e_a'], axis=1)
df.head()

In [ ]:
df["system:index"] = pd.to_datetime(df["system:index"], format="%Y-%m-%d")
df = df.groupby([df["system:index"].dt.year, df["system:index"].dt.month])["VPD"].mean()

In [ ]:
## Calculating the VPD for the hydrologycal year 
#Hydrologycal years starts in September 
hidro_months = ['6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5']

In [ ]:
from itertools import cycle, islice
merged_df["hydro_month"] = list(islice(cycle(hidro_months), len(merged_df)))
merged_df.head(10)

In [ ]:
merged_df = merged_df.drop(merged_df.index[:7])
merged_df.head(10)

In [ ]:
years = [str(num) for num in range(1951, 2023) for _ in range(12)]
merged_df["hydro_year"] = list(islice(cycle(years), len(merged_df)))
merged_df = merged_df.drop(merged_df.tail(4).index)
merged_df.tail()

In [ ]:
merged_df['VPD'] = merged_df['VPD'].astype(float)
merged_df['hydro_year'] = merged_df['hydro_year'].astype(int)

In [ ]:
merged_df.groupby('hydro_year')['VPD'].mean().to_csv('Data/ERA-5_annualVPD_BHPM.csv')